* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
}
body {
    /* background-color: #1eb2a6; */
    background-image: url(naturePhoto.jpg);
    background-size: cover;
}
.container {
    color: #d61243;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 20vh;
    width: 70%;
    justify-content: center;
    height: 50px;
    letter-spacing: 0px;
    font-size: 32px;
    text-transform: capitalize;
    border-radius: 20px;
    padding: 20px;
}

.blink {
    color: white;
    padding: 10px;
    font-size: 40px;
    font-weight: normal;
    animation: blink-Fade 0.4s ease infinite alternate;
}
@keyframes blink-Fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
