* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
}
body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(./wallpaper.png);
}
.container {
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 30vh;
    min-width: 70%;
    justify-content: center;
    min-height: 50px;
    letter-spacing: 0px;
    text-transform: capitalize;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    font-size: 5rem;
}
#typing-text {
    background: linear-gradient(to right, #f822a6 50%, #71f5d4 50%);
    background-clip: text;
    font-size: 1em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#typing-text:after {
    content: '|';
    padding: 10px;
    font-size: 1.2em;
    font-weight: normal;
    animation: blink-Fade 0.4s infinite alternate ease-in-out;
}
@keyframes blink-Fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
footer {
    font-family: 'Lobster', cursive;
    color: #242121;
    position: absolute;
    top: 95vh;
    font-size: 1rem;
    text-align: center;
    padding-left: 20px;
}
footer i {
    color: #cc3d5c;
}
@media (max-width: 800px) {
    .container {
        padding: 20px 0px;
        font-size: 3rem;
    }
   
}
@media (max-width: 600px) {
    .container {
        font-size: 2rem;
    }
}
