* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
}
body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(
        45deg,
        #ee7752,
        #e73c7e 50%,
        #23a6d5,
        #23d5ab 50%
    );
}
.container {
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 20vh;
    min-width: 70%;
    justify-content: center;
    min-height: 50px;
    letter-spacing: 0px;
    text-transform: capitalize;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}
#typing-text {
    background: linear-gradient(45deg, #22d8f8 50%, #ffee00 50%);
    background-clip: text;
    font-size: 3em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fixed-text {
    width: 100%;
    text-align: center;
    color: #6a15802d;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 5rem;
    transform: translate(-50%, -50%);
}
.blink {
    color: #e93991;
    padding: 10px;
    font-size: 3.2em;
    font-weight: normal;
    animation: blink-Fade 0.4s ease infinite alternate;
}
@keyframes blink-Fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
footer {
    position: absolute;
    top: 95vh;
    font-size: 16px;
    text-align: center;
    padding-left: 20px;
}
footer i {
    color: #cc3d5c;
}
@media (max-width: 800px) {
    .container {
        padding: 20px 0px;
        font-size: 0.6rem;
    }
    .fixed-text {
        font-size: 4rem;
    }
}
@media (max-width: 600px) {
    .container {
        font-size: 0.4rem;
    }
    .fixed-text {
        font-size: 3rem;
    }
}
